.banner{
  h4{
    font-weight: normal;
    font-style: italic;
    color: $brown;
    font-size: 26px;
    padding: 0 ($viewport-padding * 2) 20px;
    @media screen and (max-width: 1100px) {
      padding: 0px ($viewport-pad-resp * 2) 20px;
    }
  }
  .content{
    color: $dark-green;
    background-color: $green;
    padding: 30px ($viewport-padding * 2);
    @media screen and (max-width: 1100px) {
      padding: 30px ($viewport-pad-resp * 2);
    }
    h5{
      font-weight: normal;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
  
  .date-and-time{
    h6{
      font-size: 30px;
      line-height: 1.2;
      span{
        color: $brown;
        display: inline-block;
        margin-left: 10px;
        font-size: 40px;
      }
    }
  }
  .work{
    margin-top: -30px;
    margin-bottom: -30px;
    margin-left: -($viewport-padding);
    @media screen and (max-width: 1100px) {
      margin-left:-($viewport-pad-resp);
    }
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: $viewport-padding;
    @media screen and (max-width: 1100px) {
      padding-left: $viewport-pad-resp;
    }
    padding-right: 30px;
    background-color: #fff;
    @media screen and (max-width: 1100px) {
      img{
        display: block;
        margin: 0 auto 20px;
      }
      margin-right: -($viewport-padding);
      padding-right: $viewport-padding;
      @media screen and (max-width: 1100px) {
        margin-right: -($viewport-pad-resp);
        padding-right: $viewport-pad-resp;
      }
      padding-bottom: 40px;
    }
    h2{
      //color: $brown;
    }
    h3{
      font-size: 15px;
    }
    p{
      color: $dark-blue;
      text-align: justify;
      margin-top: 15px;
      display: block;
      max-height: 46px;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      line-height: 1.2;
      &:after{
        position: absolute;
        bottom: 0px;
        padding-left: 4px;
        right: 0px;
        content: "...";
        background-color: #fff;
      }
    }
  }
  margin: 100px 0 50px;
  &.inner{
    margin: 50px (-$viewport-padding) 100px;
    @media screen and (max-width: 1100px) {
      margin: 50px (-$viewport-pad-resp) 100px;
    }
  }
}