
@include font-face($font-family: $main-font-name, $file-path: '../fonts/Lato/',$file-name: 'lato-light');
@include font-face($font-family: $main-font-name, $file-path: '../fonts/Lato/', $style: italic, $file-name: 'lato-lightitalic');
@include font-face($font-family: $main-font-name, $file-path: '../fonts/Lato/', $weight: bold, $file-name: 'lato-bold');
@include font-face($font-family: $main-font-name, $file-path: '../fonts/Lato/', $weight: bold, $style: italic, $file-name: 'lato-bolditalic');

@include font-face($font-family: $title-font-name, $file-path: '../fonts/Playfair/',$file-name: 'playfairdisplay-regular');
@include font-face($font-family: $title-font-name, $file-path: '../fonts/Playfair/', $style: italic, $file-name: 'playfairdisplay-italic');
@include font-face($font-family: $title-font-name, $file-path: '../fonts/Playfair/', $weight: bold, $file-name: 'playfairdisplay-bold');
@include font-face($font-family: $title-font-name, $file-path: '../fonts/Playfair/', $weight: bold, $style: italic, $file-name: 'playfairdisplay-bolditalic');


@include font-face($font-family: $font-icon, $file-path: '../fonts/fontastic/');

.row-table{
  display: table;
  width: 100%;
  [class^="col"]{
    display: table-cell;
    vertical-align: middle;
  }
}
#notFound{
  margin:($viewport-padding * 1.3) $viewport-padding 0px;
  h1{
    font-weight: normal;
    font-style: italic;
    font-size: 50px;
    margin-bottom: 20px;
  }
  img{
    max-width:250px;
    display: block;
  }
}
html,
body {
  height: 100%;
  width: 100%;
}
*{
  margin:0;
  outline: none !important;
}
img{
  max-width: 100%;
}
body {
  overflow-x: hidden;
  font-size: $font-size;
  line-height: 1.5;
  font-family: $main-font-family;
  color: $dark-blue;

  padding-top:1px;
  margin-top: -1px;
}
a {
  color: $dark-green;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    color: $brown;
    text-decoration: none;
  }
}