#home{
  #joinUs{
    #emailHelp{
      color: $dark-green;
    }
    h3{
      font-size: 25px;
      margin-bottom: 15px;
    }
  }
  #aboutUs, #joinUs{
    margin: 0 $viewport-padding;
  }
  #aboutUs{
    h1{
      font-weight: normal;
      font-style: italic;
      font-size: 40px;
      margin-bottom: 20px;
    }
    .img-about{
      background-color: #fff;
      border-radius: 2px;
      overflow:hidden;
      position: relative;
      margin-bottom: 20px;
      img{
        opacity: 0.6;
      }
      &:before,
      &:after{
        content: "";
        position: absolute;
        width: 150%;
        bottom: 0px;
      }
      &:after{
        height: 70%;
        z-index: 1;
        left: 0px;
        background-color: $brown;
        opacity: 0.4;
        transform-origin: 0% 0%;
        transform: rotate(20deg);
      }
      &:before{
        height: 50%;
        right: 0px;
        z-index: 2;
        background-color: $dark-green;
        opacity: 0.6;
        transform: rotate(-20deg);
        transform-origin: 100% 0%;

      }
    }
    // .citation{
    //   font-size: 30px;
    //   font-weight: normal;
    //   font-style: italic;
    //   padding: 20px;
    //   @extend .icon;
    //   &:before{
    //     content: "\7a";
    //   }
    //   &:after{
    //     content: "\41";
    //   }
    // }
  }
  p{
    margin-bottom: 10px;
  }
}