nav{
  z-index:9;
  background: #fff;
  position: fixed;
  width: 100%;
  padding: 0px $viewport-padding;
  @media screen and (max-width: 1100px) {
    padding: 0px $viewport-pad-resp;
  }
  box-sizing: border-box;
  font-size: 0px;
  .responsive-menu{
    display: none;
  }
  #searchNav{
    visibility: hidden;
    position: absolute;
    top:0px;
    right:0px;
    opacity:0;
    font-size: 14px;
    width: 10%;
    height: 100%;
    padding: 0px $viewport-padding;
    @media screen and (max-width: 1100px) {
      padding: 0px $viewport-pad-resp;
    }
    box-sizing: border-box;
    line-height: $viewport-padding;
    @media screen and (max-width: 1100px) {
      line-height:$viewport-pad-resp;
    }
    background-color: #fff;

    transition-duration: 0.7s;

    .form-control{
      width: 100%;
    }
    &.activated{
      width: 100%;
      opacity: 1;
      visibility: visible;

    }
  }

  & > ul{
    font-size: $font-size - 3px;
    margin: 0;
    letter-spacing: 2px;
    list-style-type: none;
    display: inline-block;
    width: calc(50% - 100px);
    & > li{
      display: inline-block;
      & > a{
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 3px solid #fff;
        display: block;
        line-height:$viewport-padding;
        @media screen and (max-width: 1100px) {
          line-height:$viewport-pad-resp;
        }
        box-sizing: border-box;
        color: $teal;
        &:not(#searchbar):hover, &:not(#searchbar):focus{
          color: darken($teal, 20%);
        }
        &:not(#searchbar):hover, &:not(#searchbar):focus, &:not(#searchbar).active{
          border-color: $teal;
        }
      }
      &#discoverLink{
        #discoverPanel{
          visibility:hidden;
          opacity: 0;
          letter-spacing: 0px;
          position: absolute;
          background: #fff;
          box-sizing: border-box;
          top: calc(100% - 20px);
          left: 0px;
          right: 0px;
          padding: 0  $viewport-padding;
          @media screen and (max-width: 1100px) {
            padding: 0px $viewport-pad-resp;
          }

          & > .row-table{

            border-top: 1px solid $green;
            border-bottom: 1px solid $green;
          }
          & > .row-table > .col{
            vertical-align: top;
          }
          h3{
            font-size: 14px;
            margin-bottom: 10px;
          }
          #newArrivals, #articleUne, #browseByGenres{
            padding: 20px 0;
          }
          #newArrivals, #browseByGenres{
            font-size: 13px;
            line-height: 2;
            li{
              padding-left: 25px;
              box-sizing: border-box;
              position: relative;
              &:before{
                content:"";
                display: block;
                width: 15px;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                background-color: $green;
              }
              a{
                color: #000;
                &:hover{
                  color: $dark-green;
                }
              }
            }
          }
          #newArrivals{
            width: 30%;
            padding-right: 50px;
            border-right: 1px solid $green;
          }
          #newArrivals,
          #articleUne{
            padding-left: 50px;
          }
          #browseByGenres{
            width: 35%;
            ul{
              font-size: 0px;
              li{
                display:inline-block;
                font-size: 12px;
                width: 50%;
              }
            }
          }

          #articleUne{
            width: 35%;
            .row-table{
              .col:first-of-type{
                padding-right: 20px;
                width: 70%;
              }
            }
            div{
              h4{
                font-size: 14px;
                margin-bottom: 10px;
              }
              p{
                font-size: 12px;
              }
              .btn-primary{
                font-size: 9px;
                text-transform: uppercase;
                letter-spacing: 2px;
              }
              img{
                margin-bottom: 10px;
                display: block;
                width: 100%;

              }
              a{
                border-radius:2px;
              }
            }
          }

          transition-duration: 0.5s;

        }
        &:hover #discoverPanel{
          visibility: visible;
          opacity: 1;
          top: calc(100% - 1px);
        }
      }
    }
    &.nav-left{
      text-align: left;
      & > li:not(:last-child){
        margin-right: 50px;
      }
    }
    &.nav-right{
      text-align: right;
      li:not(:first-child){
        margin-left: 50px;
      }
      #searchbar{
        color: $teal !important;
        position: relative;
        z-index: 9999;
        line-height: 1;
        font-size: 22px;
        vertical-align: -7px;
        display: inline;
        padding-right: 10px;
      }
    }
  }
  .logo{
    margin:0 25px;
    img{
      display: inline-block;
      max-height: 50px;
    }
  }
  @media screen and (max-width: 1100px) {
    & {

      #searchNav{
        transition-duration: 0s;
      }
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #fff;
      .responsive-menu{
        display: block;
        font-size: 26px;
        width: 50px;
        height: 50px;
        line-height: 1;
        text-align: center;
        float: left;
      }
      .logo{
        // float: right;
        display: block;
        position: absolute;
        margin: 0px;
        right: $viewport-padding;
        @media screen and (max-width: 1100px) {
          right:$viewport-pad-resp;
        }
        top: 10px;
        // clear: both;
      }
      & > ul{
        display: none;
      }
      height: 70px;
      overflow: hidden;
      transition-duration: 0.6s;

      &.open{
        height: 100%;
        .responsive-menu{
          margin-bottom: 30px;
        }
        & > ul{
          clear:both;
          width: 100%;
          display: block;
          text-align: left;
          li{
            &#discoverLink{
              #discoverPanel{
                display: none;
              }
            }
            display: block;
            margin: 0px 0px 15px !important;
            a{
              line-height: 30px;
            }
          }
        }
        #searchbar{
          display: none !important;
        }
        #searchNav{
          opacity: 1;
          padding: 0px;
          visibility: visible;
          width: 100%;
          position: relative;
          line-height: 1;
          height: auto;
        }
      }
    }
  }

}
